html {
    background-image: url("../images/sun-bg.png");
    background-color: #cccccc;
    margin: 0;
    padding: 0;
    height: 100%;

}

body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

p {
    line-height: 1.5em;
    margin: 20px;
}

h1 {
    font-family: 'Georgia', Times, Times New Roman, serif;   
    font-size: 28px;
}

h4 {
    font-weight: normal;
    margin: 10px;
    margin-left: 20px;
}

/* Main container for navbar/header */

nav {
    background-color: #fff;
    border-bottom: 1px solid #cccccc;
    height: 100px;
    margin-bottom: 20px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

#name-logo {
    background-color: #4aaaa5;
    color: #fff;
    float: left;
    padding: 20px;
    padding-top: 0;
    margin-bottom: 0;
}

#nav-wrap {
    color: #777777;    
    background-color: white;
    margin-bottom: 20px;
    text-align: right;
}

#nav-link-wrapper {
    width: 960px;
    margin: 0 auto;
}


/* Mobile link bar, hidden on non-mobile */

#mobile-links {
    display: none;
}

/* Next 4 style the nav links+dividers */

.navbar-links {
    text-decoration: none;
    padding: 20px;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 20px;
    float: right;
    border: 1px solid white;
    color: #777777;
    
    
}

.navbar-links:visited {
    color: #777777;
    text-decoration: none;
}

.navbar-links:hover {
    background-color: #4aaaa5;
    color: white;
    border: 1px solid #777777;
}

.navbar-divider {
    float: right;    
    padding-top: 20px;
    padding-bottom: 20px;
}

/* sets the width of the main body */

#main-content {
    background-color: white;
    clear: both;
    width: 960px;
    margin: 0 auto;
    margin-bottom: 70px;
    border: 1px solid #dddddd;
    
}

/* header for the main content area */

#content-header {
    color: #4aaaa5;
    margin-bottom: 20px;
    margin-left: 20px;
    padding-top: 20px;
    margin-top: 0;
}



hr {
    background-color: #cccccc;
    width: 920px;
    margin-bottom: 20px;
    
}
/* about page profile pic */

#nate-photo {
    float: left;
    margin: 20px;
    width: 300px;
    height: 300px;
}

footer {
    clear: both;
}

/* small input box */
.sm-txt-box {
    margin: 0px 0px 20px 20px;
    width: 920px;
    line-height: 1.5em;

}
/* large text  input */
#messagebox {
    margin: 0px 0px 20px 20px;
    width: 920px;

}

/* submit button for contact page */

#contact-sub {
    margin: 0px 20px 20px 20px;
    background-color: #4aaaa5;
    border: none;
    color: white;
    text-decoration: none;
    font-family: inherit;
    font-size: inherit;
    padding: 8px 16px;
}

#contact-sub:hover {
    border: 1px solid black;
    padding: 7px 15px;
}

/* images on portfolio page */
.folio-img {
    margin: 20px;
    border: 1px solid #cccccc;
}

footer {
    background-color: #666666;
    width: 100%;
    border-top: 8px solid #4aaaa5;
    padding-bottom: 2px;
    padding-top: 38px;
    font-size: 10px;
    text-align: center;
    color: white;


}


#push {
    height: 50px;
    clear: both;
}

#foot-wrap {
    min-height: 100%;
    margin-bottom: -50px;
    clear: both;
}


.folio-cont {
    position: relative;
    width: 350px;
    height: 225px;
    margin: 20px;
    float: left;

    
}


/*  */
.folio-lbl {
    position: absolute;
    width: 327px;
    color: white;
    background-color: #4aaaa5;
    z-index: 1;
    bottom: 5px;
    padding: 12.5px;
    text-align: center;
    font-family: 'Georgia', Times, Times New Roman, serif;   
    font-size: 20px;
}

#clearer {
    padding: 10px;
    clear: both;
}



@media screen and (max-width: 980px) {

    #nav-link-wrapper {
        width: 100%;
        max-height: 80px;
    }

    #nav-wrap {
        max-height: 80px;
    }
    nav {
        max-height: 80px;
    }

    .navbar-links {
        font-size: 16px;
        padding: 0 5px 0 5px;
        margin-top: 32px;
        margin-bottom: 32px;
    }

    .navbar-links:first-of-type {
        margin-right: 50px;
    }

    .navbar-divider {
        font-size: 16px;
        padding-top: 0;
        padding-bottom: 0;
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 32px;
        margin-bottom: 32px;
    }

    h1 {
        margin-top: 32px;
        margin-bottom: 32px;
    }

    #name-logo {
        margin-left: 10%;
        height: 80px;
        margin-top: 0;
        margin-bottom: 0;
        line-height: 1em;
        padding-bottom: 0;
    }
    #main-content {
        width: 620px;
        margin-left: 10%; 
    }
    hr {
        width: 580px;
    }


    .folio-cont {
        width: 270px;
        height: auto;
    }

    .folio-img {
        width: 270px;
        height: auto;
        margin: 0;
    }

    .folio-lbl {
        width: 272px;
        margin: 0 auto;
        padding: 10px 0 10px 0;
        bottom: 15px;
        left: 0px;
    }

    .sm-txt-box {
        width: 580px;
        

    }

    #messagebox {
        width: 580px;
    }
    


}


@media screen and (max-width: 768px) {

    #nav-link-wrapper {
        width: 100%;
    }

    .navbar-links, .navbar-divider {
        font-size: 14px;
    }

    hr {
        width: 94%;
    }

    #main-content {
        width: 95%;
        margin: 0 auto;
        margin-bottom: 70px;
    }

    #name-logo {
        margin-left: 2.5%;
    }

    .sm-txt-box {
        width: 94%;
     

    }

    #messagebox {
        width: 94%;
    }
    

}


@media screen and (max-width: 640px) {
    #name-logo {
        display: block;
        float: none;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        position: absolute;
        top: 0;
        text-align: center;
        max-height: 50px;
        padding: 10px 0 10px 0;
    }

    nav {
        height: 50px;
    }

    h1 {
        margin: 0;
    }

    #foot-wrap {
        margin-top: 60px;
        
    }

    #main-content {
        max-width: 95%;
        margin: 0 auto;
        margin-bottom: 70px;
    }

    .navbar-links, .navbar-divider {
        display: none;
    
    }

    hr {
        max-width: 92%;
        margin-bottom: 30px;
        
    }

    #mobile-links {
        display: block;
        width: 100%;
        background-color: white;
        margin: 0;
        position: absolute;
        top: 50px;
        padding: 10px 0 10px 0;
        border-bottom: 1px solid #cccccc;
        
               
      
    }

    #mob-link-wrap {
        width: 300px;
        margin: 0 auto;
        text-align: center;

    }

    .mob-link {
        display: inline;
        padding: 10px;
        text-decoration: none;
        color: #777777;       
    }

    .mob-link:visited {
        text-decoration: none;
        color: #777777;
    }

    .mob-link:hover, .mob-link:focus {
        text-decoration: none;
        color: white;
        background-color: #4aaaa5;
    }

    .mob-divider {
        display: inline;
        color: #777777;
    }

    p {
        float: none;
        margin: 4%;
    }

    #nate-photo {
        float: none;
        width: 92%;
        height: auto;
        padding: 0;
        margin: 0 auto;
        display: block;
       
    }

    #content-header {
        text-align: left;
        margin-left: 4%;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }


    .folio-cont {
        float: none;
        /* margin: 0 auto; */
        width: 92%;
        height: auto;
        border: 1px solid darkgray;
        
        
    }

    .folio-img {
        float: none;
        width: 100%;
        height: auto;
        border: none;
        
    }

    .folio-lbl {
        width: 100%;

    }

    .sm-txt-box {
        width: 92%;
     

    }

    #messagebox {
        width: 92%;
    }
    

}